hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

div {
    text-align: center;
    align-items: center;
    align-content: center;
}

img {
    image-orientation: from-image;
}

footer {
    text-align: center;
}